.preview {
  display: flex;
  margin-bottom: 1.5em;
}

.preivewBody {
  flex: 1;
}

.previewImagewrapper {
  width: 160px;
  margin-right: 2em;
  margin-top: 24px;
}

.previewTitle {
  font-size: 1.5em;
  margin-top: 5px;
  margin-bottom: 5px;
}

.tag {
  position: relative;
  top: -2px;
  color: #888888;
  border: 1px solid #efefef;
  text-decoration: none;
  display: inline-block;
  padding: .15rem .35rem;
  line-height: 1;
  border-radius: 2px;
  margin-left: .5em;
  font-size: 0.65em;
}